<div class="my-container">
    <div class="row">
        <!-- Gallery -->
        <div class="col-sm-6 col-xs-12">
            <div *ngIf="data" class="gallery">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
            </div>
        </div>
        <!-- Product Info -->
        <div class="col-sm-6 col-xs-12">
            <div class="caption">
                <h2>{{data.name}}</h2>
                <h3>{{data.description}}</h3>
                <!-- On Sale -->
                <p *ngIf="data.onSale" class="price">
                    <del>${{data.costPrice}}</del>
                    <span class="sale">${{data.salePrice}}</span>
                </p>
                <!-- Not On Sale -->
                <p *ngIf="!data.onSale" class="price">
                    <span>${{data.costPrice}}</span>
                    <del style="visibility: hidden">not on sale</del>
                </p>
            </div>
            <!-- <div class="container"> -->
            <!-- <div class="row"> -->

            <!-- Dropdown -->
            <app-dropdown class="col-xs-6" style="margin-top:20px;" [data]="data.options" [header]="'Size'" (selected)="dropdownOnChange($event)"></app-dropdown>
            <!-- Find size -->
            <div class="col-xs-6">
                <img style="width:50px;height:20px;margin-left:25px;" src="../../../assets/images/shoppyfit logo.png">
                <button type="button" class="btn btn-primary find-size-btn" data-toggle="modal" data-target="#exampleModalCenter" (click)="step=1;">Find Size</button>
                <!-- <button type="button" class="btn btn-primary find-size-btn"><a (click)="goToLink('../../assets/renderModel.html')">Find Size</a></button> -->

            </div>

            <!-- </div> -->
            <!-- Button trigger modal -->
            <!-- </div> -->

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <!-- <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
                        </div> -->
                        <div class="modal-body">
                            <ng-container [ngTemplateOutlet]="step==1 ? first : step==2 ? second :step==3? third : fourth"></ng-container>
                            <ng-template #first>

                                <div class="instructions">

                                    <h3> Everything is ready <br>to get your<br> body measurements <br>for best results </h3>

                                    <ul>
                                        <li>
                                            Wear tight-fitting cloths or a swimsuit.
                                        </li>
                                        <li>
                                            Tie back long hair.
                                        </li>
                                        <li>Remove shoes.</li>
                                        <li>Place device at hip-height at a 90 angle and take 5 steps bacl</li>
                                    </ul>
                                    <h4>NOTE: Your video will be deleted after 5 seconds of getting your measurements.</h4>
                                    <img src="../../../assets/images/align.PNG">
                                    <button type="button" class="btn btn-primary find-size-btn" (click)="step=2;">Continue</button>
                                </div>
                            </ng-template>
                            <ng-template #second>
                                <div>
                                    <app-video-record [events]="videoEvent.asObservable()" [stepInfo]="2" (updateStep)="step=3;"></app-video-record>
                                </div>
                                <!-- <button type="button" class="btn btn-primary find-size-btn" (click)="step=3;">Continue</button> -->

                            </ng-template>
                            <ng-template #third>
                                <h1>3D Model</h1>
                                <div>
                                    <iframe class="iframe" src="../../../assets/render.html"></iframe>
                                </div>
                                <button type="button" class="btn btn-primary find-size-btn" (click)="step=4;">Continue</button>

                            </ng-template>
                            <ng-template #fourth>
                                <h1>Recommendations</h1>
                                <div>
                                    loader for size recommendation
                                </div>
                                <div>
                                    loader for style recommendation
                                </div>

                            </ng-template>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="step=0;stopVideo()">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Quantity Input -->
            <app-quantity-input [header]=" 'Quantity'" (valueChanged)="quantityOnChange($event)"></app-quantity-input>

            <!-- Add to Cart -->
            <button type="button" class="btn btn-primary add-cart-btn" [class.btn-disabled]="!data.inStock" [disabled]="!data.inStock" (click)="addToCart()">{{data.inStock?"Add to Cart" :"Out of Stock"}}</button>
        </div>
    </div>
    <hr>
    <!-- Description -->
    <div class="row">
        <div class="col-md-12">
            <h3 class="des-header">Product Details</h3>
            <div class="des-content">
                {{data.detail}}
            </div>
        </div>
    </div>
    <hr>
    <!-- Related Products -->
    <div class="row">
        <div class="col-md-12">
            <h3 class="rd-header">Related Products</h3>
            <div class="row">
                <div *ngFor="let rp of relatedProducts" class="col-xs-6 col-sm-3">
                    <app-product-thumbnail [data]="rp"></app-product-thumbnail>
                </div>
            </div>
        </div>
    </div>

</div>